<div class="container">      
   <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                  <div class="modal-body">  
                      <div class="box">
                           <div class="content">
                              <div class="error"></div>
                              <div class="form loginBox">
                                  <form method="post" action="/login" accept-charset="UTF-8">
                                  <input id="email" class="form-control" type="text" placeholder="    登录账户" name="lgin_account">
                                  <input id="password" class="form-control" type="password" placeholder="    登录密码" name="password">
                                  <input class="btn btn-default btn-login" type="button" value="登    陆" onclick="loginAjax()">
                                  </form>
                              </div>
                           </div>
                      </div>
                      <div class="box">
                          <div class="content registerBox" style="display:none;">
                           <div class="form">
                              <form method="post" html="{:multipart=>true}" data-remote="true" action="/register" accept-charset="UTF-8">
                              <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                              <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                              <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                              <input class="btn btn-default btn-register" type="submit" value="注册 account" name="commit">
                              </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <div class="forgot login-footer">
                          <span>还没账号？ 
                               <a href="javascript: showRegisterForm();">先注册一个</a>
                          ?</span>
                      </div>
                  </div>        
            </div>
        </div>
    </div>
</div>